
[Desktop Entry]
Name=Gnomesword1
Comment=Bible Study Tool
Exec=gnomesword1
Icon=/usr/share/pixmaps/gnomesword1/GnomeSword.png
Terminal=false
MultipleArgs=false
Type=Application

