Source: xiphos-svn
Build-Depends: automake,
               debhelper (>= 7),
               libsword-dev (>=1.5.11),
               gnome-spell,
	       gnome-common,
               scrollkeeper,
               libgtkhtml3.14-dev,
               libgtkhtml-editor-dev | gtkhtml3.14,
               gnome-doc-utils,
               intltool,
               libatspi-dev,
               libgnome2-dev,
               xulrunner-dev | libxul-dev | xulrunner-1.9.1-dev,
	       libnspr4-dev,
               libcurl4-gnutls-dev,
               libicu-dev,
	       libdbus-glib-1-dev,
	       libgsf-1-dev,
               libclucene-dev 
Section: gnome
Priority: optional
Maintainer: Xiphos Developer Team <xiphos-developers@lists.sourceforge.net>
Standards-Version: 3.8.2

Package: xiphos-svn
Architecture: any
Section: gnome
Conflicts: xiphos, xiphos-data, gnomesword
Provides: sword-frontend
Depends: ${shlibs:Depends}
Description: Bible study with GNOME - Developer SVN version
 This version was build from SVN as DEVELOPER preview
 .
 A bible study program for GNOME using the SWORD library.
 Features:
  Search Bible and Commentary
  Search Personal notes
  Add personal notes to verses
  Bookmarks
  Parallel Page - Display up to five versions
  StudyPad and Personal Commentary for keeping notes
  Spellcheck for StudyPad and Personal notes
  Uses modules from the SWORD Project
  Support for Sword Bible, Commentary, Lexicon and General Book modules
